ul{
    list-style-type: none;
    padding-left: 10px;
    li{
        font-size: 20px;
        button{
            color: yellow;
            font-weight: 400;
            margin: 2px;
            border-radius: 50%;
            width: 70px;
            height: 70px;
        }
        button:hover{
            font-size: 22px;
            margin-left: 10px;
            color: red ;
            font-weight: 500;
        }

    }


}