.btn{
    background-color: rgb(223, 219, 219);
    transition: width 1s, background-color 1s;
    width: 100px;
}

.btn:hover{
    width: 210px;
    background-color: black;
    color: white;
}

::ng-deep .mat-dialog-content{
    font-size: 1.4em;
    width: 280px;
    .mat-form-field{
        margin: 3px;
        .mat-form-field-infix{
            padding: 0 0 0.5em 0
        }
    }
}
